---
interface Props {
  project: any;
}

const { project } = Astro.props;
const { title, description, url, linkRepository, linkPreview, image } = project;
---

<style>
  .img-wrapper {
    position: relative;
    overflow: hidden;
  }

  .img-wrapper > .content::after {
    position: absolute;
    content: url('/assets/svg/icon-view.svg');
    inset: 0;
    background-color: hsla(178, 100%, 50%, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;
    opacity: 0;
  }

  .img-wrapper:hover > .content::after {
    opacity: 1;
  }
</style>

<div class="flex flex-col justify-between border-solid border border-gray-300 
        dark:border-none dark:bg-gray-700 rounded-lg overflow-hidden h-full transform hover:scale-[1.01] transition-all">
  <a href={linkPreview} target="_blank">
    <div class="img-wrapper h-[160px]">
      <img class="object-cover h-full w-full" src={image} alt={title}>
      <div class="content"></div>
    </div>
  </a>
  <div class="px-4 py-4">
    <div class="text-xl text-transparent bg-clip-text bg-gradient-to-br from-[#ff1361] to-[#caca41] dark:text-white mb-4 font-semibold">{title}</div>
    <p class="text-gray-900 dark:text-gray-400 text-sm">
      {description}
    </p>
  </div>
  <div class="flex flex-row justify-between px-4 pt-4 pb-2">
    <a class="inline-block" href={linkRepository} target="_blank">
      <img src='/assets/svg/github.svg' alt="repository-link" width="25" height="25">
    </a>
    <a href={url} class="inline-block py-1 text-sm font-semibold  mb-2 bg-gray-200 
        bg-gradient-to-r hover:from-[#fc6d9d] hover:to-[#fcfc84] 
        rounded-lg px-3 text-gray-700 hover:text-slate-900">Conocer más</a>
  </div>
</div>