---
// import GitHubIconDark from '../../../public/assets/svg/github-dark.svg';
import GitHubIcon from '../../../public/assets/svg/github.svg';
import '../../styles/project.css';

export interface Props {
  project: any;
}

const { project } = Astro.props;
const { title, description, url, linkRepository } = project;
---

<div class="transform hover:scale-[1.01] transition-all rounded-xl">
  <div class="bg-emerald-400 dark:bg-slate-800 rounded-lg overflow-hidden">
    <a href={linkRepository} target="_blank">
      <div class="img-wrapper">
        <img class="w-50 h-50" src="/images/testing.jpeg" alt="Mountain">
        <div class="content"></div>
      </div>
    </a>
    <div class="px-4 py-4">
      <div class="text-xl text-black dark:text-white mb-4 font-semibold">{title}</div>
      <p class="text-gray-900 dark:text-gray-400 text-sm">
        {description}
      </p>
    </div>
    <div class="flex flex-row justify-between px-4 pt-4 pb-2">
      <a class="inline-block" href="https://github.com/d3vcloud/trivia-app" target="_blank">
        <img src={GitHubIcon} alt="repository-link" width="25" height="25">
      </a>
      <a href={url} class="inline-block bg-gray-200 rounded-lg px-3 py-1 text-sm font-semibold text-gray-700 mb-2">Conocer más</a>
    </div>
  </div>
</div>  