---
interface Props {
	title: string;
	description: string;
}
const { title, description } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/icons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- General og-->
<link rel="canonical" href="https://xavimon.dev/">
<meta property="og:url" content="https://xavimon.dev/">
<meta property="og:type" content="website">
<meta property="og:site_name" content="xavimon.dev">
<meta property="og:title" content={title}>
<meta property="og:description" content={description}>
<meta property="og:locale" content="es_ES">
<meta property="og:image" content="/icons/apple-touch-icon.png">





