---
interface Props {
	title: string;
	description: string;
}
const { title, description } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- General og-->
<link rel="canonical" href="https://xavimon.dev/">
<meta property="og:url" content="https://xavimon.dev/">
<meta property="og:type" content="website">
<meta property="og:site_name" content="xavimon.dev">
<meta property="og:title" content={title}>
<meta property="og:description" content={description}>
<meta property="og:locale" content="es_ES">





