---
import BaseLayout from 'layout:BaseLayout';
import Breadcrumb from 'component:UI/Breadcrumb';

const { content } = Astro.props;
const { title, description, publishDate } = content;
---

<BaseLayout {title} {description}>
  <section class="flex flex-col mx-3 lg:items-center md:items-center md:mx-0 lg:mx-0">
    <div>
      <Breadcrumb title={title} option='Blog' link='/blog'/>
      <h1 class="mb-6 text-3xl font-bold text-black md:text-4xl dark:text-white">{title}</h1>
      <div class="flex flex-row mb-2">
        <p class="mb-4 text-base text-gray-500 dark:text-gray-400">{publishDate}</p>
      </div>
      <div class="prose prose-lg dark:prose-invert">
        <slot />
      </div>
    </div>
  </section>
</BaseLayout>